.academicLearning{
    position: relative;
    background-color: var(--section-background);
    width: 100%;
    padding: 5rem 22px ;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    @media screen and (min-width:1050px){
        width: 63%;
        margin: auto;
    }

    .academicItem {
        border: 1px solid #ccc;
        text-align: center;
        background-color: #1f1f1f;

        .academicImage {
            position: relative;
            overflow: hidden;
            margin-top: 2rem;
            img {
               max-width: 100%;
               max-height: 100%;
            }
        }

        .academicInfo {
            position: relative;
            margin: 5rem 2rem 2rem;
            
            .academicDescription {
                line-height: 2;
                color: var(--main-color-alt);
                font-size: 20px;
                padding: 25px;
                margin-bottom: 30px;

            }

            button{
                padding: 10px 30px;
                display: block;
                border: 3px solid transparent;
                width: fit-content;
                margin: 0 auto 31px;
                font-size: 22px;
                font-weight: bold;
                border-radius: 6px;
                transition: var(--main-transition);
                color: var(--main-color);
                background-image: linear-gradient(to right, var(--main-color) 50%, #212121 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                border-color: var(--main-color);
            }

        }

        &:hover{
            button{
                background-position: left top;
                color: var(--main-color-alt);
            }
        }
    }
}
